@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
/* Variables */
$light-primary-clr: #55c8c6;
$light-secondary-clr: #9b84ee;
$light-neutral-clr-1: #4a495f;
$light-neutral-clr-2: #7a798b;
$light-neutral-clr-3: #9c9cb4;
$light-neutral-clr-4: #e6e5ea;
$white-clr: #fff;
$black-clr: #1f2020;
$gradient-primary: linear-gradient(
  120deg,
  rgb(144, 111, 236) 0%,
  rgb(136, 211, 206) 100%
);
$gradient-overlay: linear-gradient(
  145deg,
  rgba(110, 69, 226, 0.5) 0%,
  rgba(136, 211, 206, 0.5) 100%
);
$ff-general: 'Noto Sans JP', sans-serif;
$transition-1: all 0.2s linear;
$transition-2: all 0.3s linear;
$spacing: 0.1rem;
$border: 2px solid #eaeaf7;
$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;
$light-shadow: 0 5px 15px rgba(70, 82, 190, 0.05);
$dark-shadow: 0 5px 15px rgba(23, 31, 94, 0.2);
$solid-text-shadow: 0px 2px 0px #abc6e2;
$solid-box-shadow: 0px 4px 0px 0#cedce9;
$max-width: 900px;
/* Global Styles */
html,
body {
  font-family: $ff-general;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input {
  appearance: none;
  border-radius: 0;
}
/* General Styles */
.container {
  max-width: $max-width;
  margin: 190px auto 0;
  padding: 1rem;
}
.card {
  background: $white-clr;
  border-radius: $radius-sm;
  box-shadow: $dark-shadow;
  margin-bottom: 2rem;
}
.mt {
  margin-top: 1rem;
}
.default-btn {
  border-radius: $radius-sm;
  border: 0;
  font-size: 1rem;
  text-transform: capitalize;
  color: $white-clr;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.light-primary-btn {
  background: $light-primary-clr;
}
.form-btn {
  margin-top: 1rem;
}
/* Header Styles */
.header {
  background: $gradient-overlay, url(../public/header-bg.jpeg) no-repeat;
  background-size: 100vw 100%;
  background-position-y: -200px;
  background-attachment: fixed;
  padding-top: 30px;
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  .text-container {
    max-width: $max-width;
    font-family: $ff-general;
    margin: 0 auto;
    text-align: left;
    color: $white-clr;
    padding: 1rem;
    h2 {
      font-size: 4.5rem;
      font-weight: 600;
      letter-spacing: 10px;
      text-transform: uppercase;
      line-height: 1.2;
    }
    p {
      font-size: 1.75rem;
      letter-spacing: 1px;
    }
  }
}
/* Form Styles */
.form {
  padding: 1rem 1.5rem;
  &-row {
    display: flex;
    .form-group {
      display: flex;
      flex-direction: column-reverse;
      .input-label {
        transition: all $transition-2;
        color: $light-neutral-clr-1;
        font-size: 0.8rem;
        margin-bottom: 0.25rem;
      }
      .input-field,
      .input-date {
        border: 0;
        background-color: transparent;
        margin-right: 1rem;
        border-bottom: 1px solid $light-neutral-clr-4;
        font: inherit;
        font-size: 1rem;
        padding: 0.25rem 0;
        &::placeholder {
          color: $light-neutral-clr-3;
        }
        &:focus {
          outline: 0;
          border-bottom-color: $light-primary-clr;
        }
      }
      .input-date {
        width: 150px;
      }
      .input-desc {
        border: 1px solid $light-neutral-clr-4;
        font-size: 1rem;
        padding: 0.5rem;
        font-family: $ff-general;
        margin-bottom: 0.5rem;
        &::placeholder {
          color: $light-neutral-clr-3;
        }
      }
    }
    .flex-1 {
      flex: 1;
    }
  }
}
/* Tasks Styles */
.tasks-header {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background: $gradient-primary;
  border-radius: $radius-sm $radius-sm 0 0;
  color: $white-clr;
  &-title {
    flex: 1;
  }
  &-due-date {
    width: 85px;
  }
  &-padding {
    width: 64px;
  }
}
.task-row {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $light-neutral-clr-4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $light-neutral-clr-1;
  .task-title {
    text-align: left;
    display: flex;
    flex: 1;
    font-size: 1rem;
    color: $light-neutral-clr-1;
    .check-icon {
      margin-right: 1rem;
      cursor: pointer;
      font-size: 1.25rem;
      color: $white-clr;
      border: 2px solid $light-neutral-clr-4;
      height: 30px;
      width: 30px;
      padding: 4px;
      border-radius: 50%;
      transition: $transition-2;
    }
    .complete-check-icon {
      background: $gradient-primary;
      border: 0;
    }
  }
  .task-due-date {
    color: $light-neutral-clr-3;
  }
  .task-icon {
    margin-left: 1rem;
    color: $light-neutral-clr-3;
    cursor: pointer;
    transition: $transition-2;
  }
  .task-icon:hover {
    color: $light-secondary-clr;
  }
}
.tasks-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  color: $light-neutral-clr-3;
  .sort-menu {
    display: flex;
    justify-content: space-between;
    .sort-btn {
      color: $light-neutral-clr-3;
      background: transparent;
      border: 0;
      font-size: 1rem;
      font-weight: 600;
      margin: 0 1rem;
      cursor: pointer;
    }
    .active {
      color: $light-secondary-clr;
    }
  }
  .clear-completed-btn {
    color: $light-neutral-clr-3;
    background: transparent;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  .sort-btn:hover,
  .clear-completed-btn:hover {
    color: $light-neutral-clr-2;
  }
}
/* Loader Styles */
.spinner {
  animation: rotator 1.4s linear infinite;
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  }
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
