@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
/* Variables */
$light-primary-clr: #55c8c6;
$light-secondary-clr: #9b84ee;
$light-neutral-clr-1: #4a495f;
$light-neutral-clr-2: #7a798b;
$light-neutral-clr-3: #9c9cb4;
$light-neutral-clr-4: #dcdae7;
$complete-clr: #3bc9a5;
$incomplete-clr: #fff45c;
$overdue-clr: #ec4646;
$white-clr: #fff;
$black-clr: #1f2020;
$gradient-primary: linear-gradient(
  120deg,
  rgb(144, 111, 236) 0%,
  rgb(136, 211, 206) 100%
);
$gradient-overlay: linear-gradient(
  145deg,
  rgba(110, 69, 226, 0.5) 0%,
  rgba(136, 211, 206, 0.5) 100%
);
$ff-general: 'Noto Sans JP', sans-serif;
$transition-1: all 0.2s linear;
$transition-2: all 0.3s linear;
$spacing: 0.1rem;
$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;
$light-shadow: 0 5px 15px rgba(70, 82, 190, 0.05);
$dark-shadow: 0 5px 15px rgba(23, 31, 94, 0.2);
$max-width: 1200px;
/* Global Styles */
html,
body {
  font-family: $ff-general;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input {
  appearance: none;
  border-radius: 0;
}
/* General Styles */
.container {
  max-width: $max-width;
  margin: 190px auto 0;
  padding: 1rem;
}
.card {
  background: $white-clr;
  border-radius: $radius-sm;
  box-shadow: $dark-shadow;
  margin-bottom: 2rem;
}
.mt {
  margin-top: 1rem;
}
.default-btn {
  border-radius: $radius-sm;
  border: 0;
  font-size: 1rem;
  text-transform: capitalize;
  color: $white-clr;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.light-primary-btn {
  background: $light-primary-clr;
}
.form-btn {
  margin-top: 1rem;
}
/* Header Styles */
.header {
  background: $gradient-overlay,
    url(../public/header-bg.jpeg) no-repeat center/ cover;
  padding-top: 30px;
  width: 100vw;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  .text-container {
    max-width: $max-width;
    font-family: $ff-general;
    margin: 0 auto;
    text-align: left;
    color: $white-clr;
    padding: 1rem;
    h2 {
      font-size: 4.5rem;
      font-weight: 600;
      letter-spacing: 10px;
      text-transform: uppercase;
      line-height: 1.2;
    }
    p {
      font-size: 1.75rem;
      letter-spacing: 1px;
    }
  }
}
/* Todolist Form Styles */
.form {
  padding: 1rem 1.5rem;
  &-row {
    display: flex;

    .form-group {
      display: flex;
      flex-direction: column-reverse;
      .input-field,
      .input-date {
        border: 0;
        background-color: transparent;
        margin-right: 1rem;
        border-bottom: 1px solid $light-neutral-clr-4;
        font: inherit;
        font-size: 1rem;
        padding: 0.25rem 0;
        &::placeholder {
          color: $light-neutral-clr-3;
        }
        &:focus {
          outline: 0;
          border-bottom-color: $light-primary-clr;
        }
      }
      .input-date {
        max-width: 130px;
      }
    }
    .flex-1 {
      flex: 1;
    }
    .input-label {
      transition: all $transition-2;
      color: $light-neutral-clr-1;
      font-size: 0.8rem;
      margin-bottom: 0.25rem;
    }
    .form-group-desc {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 1rem;
      width: 90%;
      .input-desc {
        float: left;
        width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
        textarea {
          border: 1px solid $light-neutral-clr-4;
          border-radius: $radius-sm;
          width: 100%;
          font-family: $ff-general;
          font-size: 1rem;
          padding: 0.5rem;
        }
        &::placeholder {
          color: $light-neutral-clr-3;
        }
      }
    }
  }
}
/* Todos Table Styles */
.todos-table-container {
  overflow: hidden;
}
.todos-table {
  border-spacing: 1;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  position: relative;
  td,
  th {
    padding: 0.75rem 1rem;
    text-align: left;
  }
  th:last-child,
  td:last-child {
    width: 100px;
  }
  thead tr {
    height: 50px;
    background: $gradient-primary;
    font-size: 1rem;
    color: $white-clr;
  }
  tbody tr {
    height: 48px;
    border-bottom: 1px solid $light-neutral-clr-4;
  }
  & &-check {
    display: flex;
    align-items: center;
    width: 65px;
    height: 60px;
    margin-right: -1.25rem;
    .check-icon {
      cursor: pointer;
      font-size: 1.25rem;
      color: $white-clr;
      border: 2px solid $light-neutral-clr-4;
      height: 30px;
      width: 30px;
      padding: 4px;
      border-radius: 50%;
      transition: $transition-2;
    }
    .complete-check-icon {
      background: $gradient-primary;
      border: 0;
    }
  }
  &-title {
    color: $light-neutral-clr-1;
    font-size: 1.25rem;
    font-weight: 600;
    a {
      text-decoration: none;
      display: flex;
      color: $light-neutral-clr-1;
      position: relative;
      .line {
        position: absolute;
        display: block;
        top: 16px;
        border-bottom: 1px solid $light-neutral-clr-3;
        width: 100%;
      }
    }
  }
  .todos-table-title-complete {
    justify-content: space-between;
    color: $light-neutral-clr-3;
  }
  &-overdue {
    font-size: 0.8rem;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-left: 1rem;
    background: $overdue-clr;
    color: $white-clr;
    border-radius: $radius-md;
  }
  &-due-date {
    color: $light-neutral-clr-3;
  }
  .date-overdue {
    color: $overdue-clr;
  }
  &-icon {
    margin-left: 1rem;
    color: $light-neutral-clr-3;
    cursor: pointer;
    transition: $transition-2;
  }
  &-icon:hover {
    color: $light-secondary-clr;
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding: 0 1.5rem;
    color: $light-neutral-clr-3;
  }
}
.todos-table-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  color: $light-neutral-clr-3;
  .filter-menu {
    display: flex;
    justify-content: space-between;
    .filter-btn {
      color: $light-neutral-clr-3;
      background: transparent;
      border: 0;
      font-size: 1rem;
      font-weight: 600;
      margin: 0 1rem;
      cursor: pointer;
    }
    .active {
      color: $light-secondary-clr;
    }
  }
  .clear-completed-btn {
    color: $light-neutral-clr-3;
    background: transparent;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  .sort-btn:hover,
  .clear-completed-btn:hover {
    color: $light-neutral-clr-2;
  }
}
/* Todo Form Styles */
.todo-form {
  padding: 2rem;
  &-title {
    border: 1px solid $white-clr;
    width: 100%;
    border-radius: $radius-sm;
    font-weight: 600;
    display: block;
    font-size: 2rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    outline: none;
    &:hover {
      border: 1px solid $light-neutral-clr-3;
    }
    &:focus {
      border: 1px solid $light-neutral-clr-2;
    }
    &-complete {
      color: $light-neutral-clr-3;
    }
  }

  &-status {
    padding: 0.5rem 0.75rem;
    border: 0;
    font-size: 0.8rem;
    text-align: center;
    border-radius: $radius-md;
    max-width: 120px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    &-complete {
      background: $complete-clr;
    }
    &-incomplete {
      background: $incomplete-clr;
    }
    &-overdue {
      background: $overdue-clr;
    }
  }
  &-due-date {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 1rem;
    p {
      margin-right: 1rem;
    }
    &-picker {
      padding: 0.5rem;
      font-size: 1rem;
      width: 150px;
      border: 1px solid $white-clr;
      border-radius: $radius-sm;
      outline: none;
      &:hover {
        border: 1px solid $light-neutral-clr-3;
      }
      &:focus {
        border: 1px solid $light-neutral-clr-2;
      }
    }
  }
  &-description {
    width: 100%;
    textarea {
      width: 100%;
      border: 1px solid $light-neutral-clr-4;
      font-size: 1rem;
      padding: 0.5rem;
      font-family: $ff-general;
      margin-bottom: 0.5rem;
      border-radius: $radius-sm;
      outline: none;
      &:hover {
        border: 1px solid $light-neutral-clr-3;
      }
      &:focus {
        border: 1px solid $light-neutral-clr-2;
      }
    }
  }
  .form-div {
    width: 100%;
    display: flex;
  }
  .default-btn {
    margin-left: auto;
    padding: 1rem;
  }
}
/* Loader Styles */
.spinner {
  animation: rotator 1.4s linear infinite;
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  }
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
